html{
  scroll-behavior: smooth;
}
body, h1, h2, p{
  margin: 0;
  font-family: Inter;
  color: #2B79BD;
}
.header{
  color: #90B4CE;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
}
.header-container{
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  width: 1188px;
}
.header-logo{
  position: static;
  width: 187px;
  height: 24px;
  left: 89px;
  top: 36.5px;
  color: #90B4CE;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
.header-menu{
width: 480px;
height: 33;
display: flex;
margin: 0;
padding: 0;
}
.header-menu ol{
  width: inherit;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}
.header-menu ol li{
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.header-menu ol li:hover{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.header-menu a{
  height: 27px;
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  display: block;
  color: #2B79BD;
}
.header-logo a:link, .header-logo a:visited, .header-logo a:active{
  text-decoration: none;
  display: block;
  color: #90B4CE;
}
.header-menu a:link, .header-menu a:visited, .header-menu a:active{
  text-decoration: none;
  display: block;
}
.hero{
  display: inherit;
  align-items: center;
  height: 480px;
}
.hero-container{
  max-width: 1000px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex: 1;
}
.hero-text{
  padding: 20px;
}
.hero-image{
  object-fit: cover;
}
.hero h1{
  align-items: center;
  font-size: 40px;
  color: #094067;
}
.hero p{
  align-items: center;
  padding-top: 30px;
  color: #5F6C7B;
}
.portfolio{
  display: inherit;
  align-items: center;
  background-color: #D8EEFE;
}
.portfolio-container{
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}
.portfolio-project{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.portfolio-project-details{
  width: 414px;
}
.portfolio-project-details-title{
  font-weight: 700px;
  font-size: 64px;
  line-height: 76px;
  color: #094067;
}
.portfolio-project-details-description{
  color: #5F6C7B;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.portfolio-project-buttons{
  margin-top: 22px;
  display: inherit;
  justify-content: space-between;
  align-items: center;
}
.portfolio-project-buttons input{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 0 19px;
  font-family: Inter;
}
.blue-button{
  width: 199px;
  height: 51px;
  border: none;
  border-radius: 4px;
  background-color: #3DA9FC;
  color: white;
}
.transparent-button{
  width: 191px;
  height: 51px;
  color: #094067;
  border: 3px solid #094067;
  border-radius: 3px;
  background-color: transparent;

}
.portfolio-project-image{
  object-fit: cover;
}
.portfolio-project-image img{
  width: 400px;
  height: auto;

}

.experience{
  background-color: #094067;
  align-content: center;
}
.experience-container{
  width: 676px;
  margin: 0 auto;
  align-content: center;
  padding-top: 50px;
}
.experience-container h1{
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
}
.experience-container p{
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.experience-company{
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: white;
}
.experience-position{
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.experience-details{
  color: white;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 25px;
}



.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.social-link.twitter{
    background-image: url(../images/twitter.svg);
    background-size:50px 50px;
}
.social-link.facebook{
    background-image: url(../images/facebook.svg);
    background-size:50px 50px;
}
.social-link.github{
    background-image: url(../images/github.svg);
    background-size:50px 50px;
}
.social-link.instagram{
    background-image: url(../images/instagram.svg);
    background-size:50px 50px;
}
.social-link.linkedin{
    color: white;
    background-image: url(../images/linkedin.svg);

    background-size:50px 50px;
}